body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
  text-align: justify;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1% 6% 10% 10%;
}

#main-heading {
  font-size: 46px;
  font-weight: 900;
}

#sub-heading {
  font-weight: normal;
  font-size: 24px;
  color: transparent;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-top: -1%;
}

#text1-heading {
  font-size: 24px;
}

#text1-body {
  text-align: left;
  width: 70%;
  text-align: justify;
}

.text3-body {
  width: 10%;
}

.grey-box {
  background-color: rgb(248, 248, 248);
  width: 100vw;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  margin-left: 10%;
}

#dented {
  margin-left: 10%;
}

#about {
  font-weight: normal;
  color: transparent;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.navbar-sections {
  padding-bottom: 0;
  display: flex;
  place-items: 10px;
  margin-left: 12%;
}

#bold-heading {
  font-weight: 100;
}

.banner {
  height: 60vh;
  width: 100vw;
  margin-bottom: 15px;
}

.text1 {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.text2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.middle-paragraph {
  padding-top: 5%;
  padding-left: 5%;
}

.text3 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 4%;
}

.text4 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 4%;
}

.icons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(3);
  gap: 6%;
  margin: 5% 0% 10% 0%;
  row-gap: 32%;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(104, 43, 226);
  height: 80vh;
  color: white;
}

.map {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 2% 10%;
}

.map-items {
  line-height: 1rem;
}

.list1 {
  display: flex;
  flex-direction: column;
  margin: 2% 4% 2% 1%;
}

.list2 {
  display: flex;
  flex-direction: column;
  margin: 2% 6%;
}

.list3 {
  display: flex;
  flex-direction: column;
  margin: 2% 6%;
}

@media only screen and (max-width: 768px) {
  .navbar-sections {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .icons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2);
    width: 100vw;
    height: 150vh;
    row-gap: 8%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 120vh;
  }
  .text1 {
    width: 100vw;
  }

  .text2 {
    width: 100%;
  }
  .text3 {
    width: 100%;
  }
  .text4 {
    width: 100%;
  }
  /* hiding the navigation  */
  .footer .list3 {
    display: none;
  }

  /* adjusting fonts */
  #main-heading {
    font-size: 3vw;
  }
  #sub-heading {
    font-size: 2.25vw;
  }
  h2 {
    font-size: 2.25vw;
  }
  p {
    font-size: 2vw;
  }

  .list1 {
    padding-left: 10%;
  }
  .list2 {
    padding-left: 5%;
  }
}
