.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text1 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: aqua;
}
.text2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: blue;
}
.text3 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: blueviolet;
}
.text4 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: brown;
}

.icons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(3, 1fr); 
  gap: 5%;
  margin: 15%;
}
